* {
    margin: 0;
    padding: 0;
    font-family: Poppis, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    display: flex;
    align-items: center;


    .menu {
        display: flex;
        margin-left: 20px;
        position: relative;
        gap: 5px;
        flex-direction: column;

        span {
            display: block;
            width: 50px;
            height: 5px;
            background: white;
            transition: .5s;
        }
    }
}

.tab {
    position: absolute;
    left: 0;
    background: black;
    height: 100%;
    transition: .5s;
    height: 0;
    width: 100%;
    opacity: 0;
    color: white;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    height: 100%;
    opacity: 1;
    z-index: 1;
}

header .active {
    z-index:2;
    margin-top: 40px;

    span:nth-child(1){
        transform: rotate(-45deg) translate(-4px, 0px);
    }
        
    span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
    }

    span:nth-child(2) {
        display: none;
    }

}